@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@import '../css/modal.css';

:root{
    --primary-color: #168994;
    --primary-color-dark: #0D5C63;
    --secondary-color: #6B7280;
    --background-color: #e4e6e7;
    --text-color: #111827;
    --secondary-text-color: #595a5b;
    --card-background: #FFFFFF;
    --border-color: #E5E7EB;
    --error-color: red;
    --variant-error-color: #f03a3a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    font-family: "Inter", sans-serif;
}

form h3{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

main{
    padding:1rem;
}

                        