@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root{
    --primary-color: #168994;
    --primary-color-dark: #0D5C63;
    --secondary-color: #6B7280;
    --background-color: #e4e6e7;
    --text-color: #111827;
    --card-background: #FFFFFF;
    --border-color: #E5E7EB;
    --error-color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}

main{
    padding:1rem;
}

